<section id="movies" class="container">
    <h1>All Movies</h1>

    {{#each movies}}
      <div class="movie">
      <h3>{{this.title}}</h3>
      <br>
      <p>{{this.country}}</p>
      <br>
      <p>{{this.duration}}</p>
      <ul>
        <li>Type: {{this.type}}</li>
        <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Save Movie</a></li>
      </ul>
      <div class="movie">
        <small>Description: <span>{{this.description}}</span></small>
      </div>
    </div>
    {{else}}
      <p>No Movies available</p>
    {{/each}}
    
  </section>